body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
    text-align: center;
}
.wrapper{
    /*margin-top: 100px;*/
    position: relative;
}
.border-cicle{
    width: 399px;
    height: 399px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #FCB040;
    border-radius: 100%;
    transform: translate(-50%,0);
    transform: scale(0);
}
.background-cicle{
    width: 400px;
    height: 400px;
    background: #95B3BF;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
    mask-image: radial-gradient(#BADA55, #BADA55);
    animation: grow 0.7s 1 ease;
}
#border-one{
    animation:border-pulse 1s 3.1s 1 ease;
    animation-fill-mode: forwards;
}
#border-two{
    animation: border-pulse 1s 3.3s 1 ease;
    animation-fill-mode: forwards;
}
.triangle-light{
    width: 400px;
    height: 600px;
    background: #FFFFFF;
    opacity: 0.2;
    position: absolute;
    animation:triangle-light-anim 1s 2.8s 1 ease;
    animation-fill-mode: forwards;
    right:-75%;
    /*transform:translate(200px,0);*/
}
.body{
    width: 285px;
    height: 600px;
    margin: 0 auto;
    background: #222;
    border-radius:100px;
    position:relative;
    top:200px;
    animation: body-enter 0.7s 0.2s 1 ease;
    animation-fill-mode: forwards;
}
.shirt-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    position: relative;
    top: -300px;
    font-size: 50px;
    -webkit-text-stroke: 2px; /*text-stroke设置文字描边宽度和颜色*/
    /*display: inline-block;*/
}
.shirt-text:nth-of-type(1){
    animation: text-anim 0.7s 3s 1 ease;
    -webkit-animation: text-anim 0.7s 3s 1 ease;
}
.shirt-text:nth-of-type(2){
    color: #EF4136;
    animation: text-anim 0.7s 3.1s 1 ease;
    -webkit-animation: text-anim 0.7s 3.1s 1 ease;
}
.shirt-text:nth-of-type(3){
    animation: text-anim 0.7s 3.2s 1 ease;
    -webkit-animation: text-anim 0.7s 3.2s 1 ease;
}
.shirt-text:nth-of-type(4){
    animation: text-anim 0.7s 3.3s 1 ease;
    -webkit-animation: text-anim 0.7s 3.3s 1 ease;
}
.shirt-text:nth-of-type(5){
    animation: text-anim 0.7s 3.4s 1 ease;
    -webkit-animation: text-anim 0.7s 3.4s 1 ease;
}
.triangle-dark{
    width: 400px;
    height: 600px;
    background: #000000;
    opacity: 0.2;
    position: absolute;
    left: -60%;
    top:30%;
    animation: triangle-dark-anim 1s 3s 1 ease;
    animation-fill-mode: forwards;
    transform: translate(-200px, 0)
}
.head{
    width: 196px;
    height: 260px;
    border-radius: 50px;
    background: #FFE4BE;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -98px;
    animation: grow 0.7s 0.4s 1 ease, music-move 1s 3.3s infinite alternate ease-in-out;
    transform-origin: bottom;
}
.ear{
    height: 35px;
    background: #FFE4BE;
    border-radius: 12px;
    position: absolute;
    top: 116px;
    animation:grow 0.7s 1.3s 1 ease;
    animation-fill-mode: forwards;
}
#left-ear{
    left: -12px;
}
#right-ear{
    right:-12px;
}
.hair-main{
    width: 220px;
    height: 0px;
    background: #E7AB57;
    border-radius: 54px 54px 0 0;
    margin-left: -12px;
    margin-top: -10px;
    animation:hair-anim 0.7s 0.9s 1 ease;
    animation-fill-mode: forwards;
}
.sideburn{
    width: 8px;
    height: 25px;
    background: #E7AB57;
    position: absolute;
    bottom:-25px;
    opacity: 0;
    animation: sideburn-anim 0.7s 0.9s 1 ease;
    animation-fill-mode: forwards;
}
#left-hair{
    left:12px;
}
#right-hair{
    right:12px;
}
.hair-top{
    width: 128px;
    height: 70px;
    opacity: 0;
    border-top-right-radius: 30px;
    background: #E7AB57;
    position: relative;
    top: -17px;
    left: 50%;
    /*transform: translateX(-64px);*/
    transform-origin: right;
    animation: hair-top-anim 0.7s 1s 1 ease;
    animation-fill-mode: forwards;
}
.face{
    width: 180px;
    height: 0px;
    border-radius: 48px 48px 0 0;
    background: #FFE4BE;
    position: absolute;
    top: 40px;
    left: 8px;
    nimation:hair-anim 0.1s 0.8s 1 linear;
    animation-fill-mode: forwards;
}
.hair-bottom{
    width: 54px;
    height: 50px;
    opacity: 0;
    border-bottom-left-radius: 25px;
    background: #E7AB57;
    position: relative;
    top: -20px;
    left: 50%;
    transform: translateX(-27px);
    animation:hair-bottom-anim 0.7s 1.4s 1 ease;
    animation-fill-mode: forwards;
}
.nose{
    width: 20px;
    height: 45px;
    opacity: 0;
    background: #FFE4BE;
    border-top-left-radius: 20px;
    position: absolute;
    left: 50%;
    top: 80px;
    margin-left: -20px;
    animation: shadow-anim 0.7s 3s 1 ease;
    animation-fill-mode: forwards;
}
.eye-shadow{
    width: 30px;
    height: 15px;
    border-radius: 0 0 15px 15px;
    background: rgba(149,36,0,0.1);
    position: absolute;
    top: 70px;
    animation: grow 0.7s 2s 1 ease;
    animation-fill-mode: forwards;
    transform: scale(0);
}
#left-eye{
    left: 35px;
    z-index: 5;
}
.eyebrow{
    width: 40px;
    height: 10px;
    background: #E7AB57;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
}
.eye{
    width: 20px;
    height: 28px;
    border-radius: 10px;
    background: #334C68;
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -10px;
    animation: grow 0.7s 2.2s 1 ease, eye-blink 4s 4.4s infinite linear;
    animation-fill-mode: forwards;
}
#right-eye{
    right:35px;
}
.mouth{
    width: 66px;
    height: 33px;
    border-radius: 0 0 33px 33px;
    background: white;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -33px;
    animation: grow 0.7s 2.6s 1 ease;
    animation-fill-mode: forwards;
    transform: scale(0);
}
.shadow-wrapper{
    width: 98px;
    height: 260px;
    position: absolute;
    left: -8px;
    bottom: -84px;
    z-index: 4;
    overflow: hidden;
}
.shadow{
    width: 98px;
    height: 260px;
    border-radius: 50px;
    background: rgba(149,36,0,0.1);
    position: absolute;
    z-index: 4;
    opacity: 0;
    animation: shadow-anim 1s 2.8s 1 ease;
    animation-fill-mode: forwards;
}